<form class="w-lg mx-auto" action="/register" method="post">
  <h1 class="mb-5 text-4xl font-bold text-gray-900 text-center">Notes.</h1>

  <% if (typeof error !== 'undefined' && error) { %>
  <div id="flashError" class="mb-4 text-sm text-red-600 text-center">
    <%= error %>
  </div>
  <% } %>

  <h2 class="mt-10 mb-5 text-2xl font-bold text-gray-900">
    Register new account
  </h2>
  <div class="mb-5">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
      >Full name</label
    >
    <input
      name="name"
      type="text"
      id="name"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="John Doe"
      value="<%= typeof formData !== 'undefined' ? formData.name : '' %>"
      required
    />
  </div>

  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
      >Your email</label
    >
    <input
      name="email"
      type="email"
      id="email"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="name@example.com"
      value="<%= typeof formData !== 'undefined' ? formData.email : '' %>"
      required
    />
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
      >Your password</label
    >
    <input
      name="password"
      type="password"
      id="password"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
    />
  </div>
  <div class="mb-5">
    <label
      for="repeat-password"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Confirm password</label
    >
    <input
      type="password"
      id="confirm-password"
      class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
    />
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input
        id="terms"
        type="checkbox"
        value=""
        class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300"
        required
      />
    </div>
    <label for="terms" class="ms-2 text-sm font-medium text-gray-900"
      >I agree with the
      <a href="#" class="text-blue-600 hover:underline"
        >terms and conditions</a
      ></label
    >
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer active:scale-90 transition-all duration-300"
  >
    Register new account
  </button>
</form>

<script>
  setTimeout(() => {
    const flashError = document.getElementById("flashError");
    if (flashError) flashError.remove();
  }, 3000);
</script>
