<div
  id="noteModal"
  class="fixed inset-0 z-50 flex items-center justify-center mx-2 bg-gray-400/40 backdrop-blur-xs hidden"
>
  <div
    id="noteContainer"
    class="rounded-lg shadow-lg w-full max-w-lg p-4 relative"
  >
    <!-- <button onclick="closeNoteModal()" class="absolute top-2 right-2 text-gray-400 hover:text-gray-700 text-xl">&times;</button> -->
    <form id="noteModalForm" method="post">
      <input type="hidden" id="modalNoteId" name="id" />
      <input type="hidden" id="noteType" name="type" value="text" />
      <input
        type="hidden"
        id="noteBackgroundColor"
        name="backgroundColor"
        value="note-white"
      />
      <input type="hidden" id="noteTags" name="tags" value="[]" />
      <input type="hidden" id="noteChecklist" name="checklist" value="[]" />

      <div class="mb-4">
        <input
          id="modalNoteTitle"
          name="title"
          class="w-full p-2 text-lg font-medium border-b border-gray-200 focus:outline-none"
          maxlength="200"
        />
      </div>

      <div id="modalTextContent" class="w-full h-96 mb-4">
        <textarea
          id="modalNoteContent"
          name="content"
          class="w-full h-96 mx-auto rounded p-2 border-0 outline-0 focus:outline-none resize-none"
          maxlength="2000"
        ></textarea>
      </div>
      <div id="modalChecklistContent" class="mb-4 hidden">
        <ul id="modalChecklistItems" class="space-y-2"></ul>
      </div>
      <div id="modalImagesContent" class="mb-4 hidden">
        <div id="modalImagesList" class="flex flex-wrap gap-2"></div>
      </div>

      <!-- <div
        id="tagsContainer"
        class="hidden mx-1 mt-4 mb-2 text-xs text-gray-700 text-nowrap"
      >
        <div id="tagsList" class="flex flex-wrap gap-2 mb-2"></div>
        <input
          id="newTagInput"
          type="text"
          placeholder="tag name"
          class="bg-gray-50/50 px-2 py-1 rounded-full border border-gray-200 focus:outline-none"
        />
      </div> -->

      <div id="modalTagsContent" class="mb-4">
        <div id="modalTagsList" class="flex flex-wrap gap-1"></div>
        <input
          id="newTagInput"
          type="text"
          placeholder="tag name"
          class="bg-gray-50/50 text-xs mt-1 px-2 py-1 rounded border border-gray-200 focus:outline-none hidden"
        />
      </div>

      <div
        class="flex items-center justify-between p-2 border-t border-gray-200"
      >
        <div class="flex space-x-1 items-center">
          <button
            type="button"
            id="modalColorPickerBtn"
            class="p-2 rounded-full hover:bg-gray-100 relative group"
            title="Background color"
          >
            <span id="modalSelectedColor">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-palette"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"
                />
                <path
                  d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7"
                />
              </svg>
            </span>
            <div
              id="modalColorBar"
              class="flex items-center gap-2 absolute -top-8 left-0 hidden z-50 backdrop-blur-sm p-1 rounded"
            >
              <span
                class="size-5 note-white rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-white"
              ></span>
              <span
                class="size-5 note-yellow rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-yellow"
              ></span>
              <span
                class="size-5 note-green rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-green"
              ></span>
              <span
                class="size-5 note-blue rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-blue"
              ></span>
              <span
                class="size-5 note-pink rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-pink"
              ></span>
              <span
                class="size-5 note-orange rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-orange"
              ></span>
              <span
                class="size-5 note-purple rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-purple"
              ></span>
              <span
                class="size-5 note-teal rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-teal"
              ></span>
              <span
                class="size-5 note-gray rounded-full border border-gray-500 cursor-pointer hover:scale-125"
                data-color="note-gray"
              ></span>
            </div>
          </button>

          <!-- <button
            type="button"
            class="p-2 hover:bg-gray-100 rounded-full"
            title="Add image"
          >
            <svg
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
              ></path>
            </svg>
          </button> -->

          <button
            type="button"
            class="p-2 hover:bg-gray-100 rounded-full"
            title="checklist"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
              />
            </svg>
          </button>

          <!-- <button
            type="button"
            class="p-2 hover:bg-gray-100 rounded-full"
            title="event"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          </button> -->

          <button
            type="button"
            class="p-2 hover:bg-gray-100 rounded-full"
            title="Archive"
          >
            <svg
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
              ></path>
            </svg>
          </button>

          <button
            type="button"
            id="modalMoreOptionsBtn"
            class="p-2 hover:bg-gray-100 rounded-full relative"
            title="More"
          >
            <svg
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              ></path>
            </svg>
            <div
              id="modalMoreOptionsMenu"
              class="w-30 bg-white text-start flex flex-col absolute -top-15 left-5 hidden rounded-lg shadow-lg z-50"
            >
              <a
                id="addLabelBtn"
                class="text-sm px-2 py-1 border-b border-b-gray-200 hover:bg-gray-200 cursor-pointer"
                >add label</a
              >
              <a
                id="discardBtn"
                class="text-red-500 text-sm px-2 py-1 border-b border-b-gray-200 hover:bg-gray-200 cursor-pointer"
                >Discard</a
              >
            </div>
          </button>
        </div>

        <div class="flex items-center space-x-2">
          <button
            type="button"
            id="closeCreator"
            onclick="closeNoteModal()"
            class="px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 rounded"
          >
            Close
          </button>
          <button
            type="submit"
            id="saveNoteBtn"
            class="px-4 py-2 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 rounded cursor-pointer active:scale-90 transition-all duration-200"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
