<div
  id="updatePasswordModal"
  class="fixed inset-0 z-50 flex items-center justify-center mx-2 bg-white/20 backdrop-blur-xs hidden"
>
  <form
    action="/account/update-password"
    method="POST"
    class="min-w-3/12 bg-white mx-auto p-8 rounded-2xl shadow-lg"
  >
    <% if (typeof error !== 'undefined' && error) { %>
    <div id="flashError" class="mb-4 text-sm text-red-600 text-center">
      <%= error %>
    </div>
    <% } %>

    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
        >Update password</label
      >
      <input
        name="password"
        type="password"
        id="password"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      />
    </div>
    <div class="mb-5">
      <label
        for="confirm_password"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Confirm password</label
      >
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
      />
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center float-end cursor-pointer"
    >
      Update
    </button>
  </form>
</div>
